*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabecalho-lista-item a{
    text-decoration: none; 
    color: white;    
}

.cabecalho-lista-item a:hover{
    color: #4EBFE9;    
}


.escola-imagem{
    width: 30%;
}

#escola{
    background-image: linear-gradient(#424E61, #4EBFE9);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 20px;

}

.escola-div-conteudo {
    width: 40%;
}

#estudantes{
    background-image: linear-gradient(#4EBFE9, #8FDFFB, #DDDDDD);
}

.estudantes-titulo{
    padding: 24px 0;
    text-align: center;
}

.estudantes-div{
    text-align: center;
}

.estudantes-foto {
    height: 200px;
    width: 120px;
    object-fit: cover;
}

.estudantes-nome {
    padding: 2px;
}

.estudantes-icone {
    width: 30px;
}

.estudantes-icone:hover {
    width: 35px;
}
.estudantes-todos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.estudantes-icones-todos{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
    height: 25px;
}

.rodape{
    background-color: #000000;
    text-align: center;
    padding: 10px 0;
}

.rodape-imagem{
    height: 50px;
}